In [1]:
import pandas as pd
from utils import persistence as ps
from urllib3.response import HTTPResponse
from typing import List, Dict, Tuple
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from toolz import partition_all

In [4]:
INPUT_BUCKET: str = 'dq-data'
HASH_BUCKET: str = 'dq-hashed'

In [5]:
#load train_set
data: str = 'train.csv'
filestream: HTTPResponse = ps.get_file_stream(bucket=INPUT_BUCKET, filename=data)
dtypes: Dict[str, str] = {
    'id': 'int64',
    'qid1': 'int64',
    'qid2': 'int64',
    'question1': 'object',
    'question2': 'object',
    'is_duplicate': 'int64'
}
df: pd.DataFrame = pd.read_csv(#urlpath=s3_in_url, 
                                     #storage_options=s3_options,
                                     filestream,
                                     header=0, 
                                     usecols=dtypes.keys(), 
                                     names=dtypes.keys(),
                                     skipinitialspace=True,
                                     skip_blank_lines=True,
                                     encoding='utf-8')
df = df.set_index('id')

In [6]:
df.head()

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404290 entries, 0 to 404289
Data columns (total 5 columns):
qid1            404290 non-null int64
qid2            404290 non-null int64
question1       404289 non-null object
question2       404288 non-null object
is_duplicate    404290 non-null int64
dtypes: int64(3), object(2)
memory usage: 18.5+ MB

#### Train-test split

In [8]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['is_duplicate'])
y = df['is_duplicate']
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270874 entries, 316451 to 121958
Data columns (total 4 columns):
qid1         270874 non-null int64
qid2         270874 non-null int64
question1    270873 non-null object
question2    270873 non-null object
dtypes: int64(2), object(2)
memory usage: 10.3+ MB

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer, HashingVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics.pairwise import cosine_similarity
import time

In [11]:
import pickle
ps.create_bucket(bucket=HASH_BUCKET)
import os
import shutil
from gensim.utils import simple_preprocess
tmp_train_path = '/tmp/train'
try:
    shutil.rmtree(tmp_train_path)
except:
    pass
try:    
    os.mkdir(tmp_train_path)
except:
    pass

def tokenize(series, batch_id, output_dir):
    print('processing batch {}'.format(batch_id))
    # save transformed batch
    out_file = ('%d' % batch_id) 
    out_path = output_dir+'/'+out_file
    with open(out_path, 'w') as handle:
        for q in series:    
            for token in simple_preprocess(q):
                handle.write(token)
            handle.write('\n')
    ps.copy_file(dest_bucket=HASH_BUCKET, file='train/'+out_file, source=out_path)
    os.remove(out_path)

In [12]:
from toolz import partition_all
from multiprocessing import Process, cpu_count, Pool
# empty HASH_BUCKET
ps.remove_all_files(bucket=HASH_BUCKET, path='train/')
series = pd.Series(pd.concat([X_train['question1'], X_train['question2']]),dtype=str)
series.dropna()
partitions = partition_all(10000, series.tolist())
#trying multiprocessing
#processes = []
pool = Pool(processes=6)
args = []
for i, batch in enumerate(partitions):
    args.append((
                   batch,
                   i, 
                   tmp_train_path))
pool.starmap(tokenize, args)

all files in bucket dq-hashed at path train/ are []
processing batch 0
processing batch 3
processing batch 6
processing batch 9
processing batch 12
processing batch 15
pushed file train/0 from /tmp/train/0 to minio bucket dq-hashed
processing batch 1
pushed file train/3 from /tmp/train/3 to minio bucket dq-hashed
processing batch 4
pushed file train/6 from /tmp/train/6 to minio bucket dq-hashed
processing batch 7
pushed file train/9 from /tmp/train/9 to minio bucket dq-hashed
processing batch 10
pushed file train/12 from /tmp/train/12 to minio bucket dq-hashed
processing batch 13
pushed file train/15 from /tmp/train/15 to minio bucket dq-hashed
processing batch 16
pushed file train/1 from /tmp/train/1 to minio bucket dq-hashed
processing batch 2
pushed file train/4 from /tmp/train/4 to minio bucket dq-hashed
processing batch 5
pushed file train/13 from /tmp/train/13 to minio bucket dq-hashed
processing batch 14
pushed file train/16 from /tmp/train/16 to minio bucket dq-hashed
processing batch 17
processing batch 8
pushed file train/7 from /tmp/train/7 to minio bucket dq-hashed
pushed file train/10 from /tmp/train/10 to minio bucket dq-hashed
processing batch 11
pushed file train/14 from /tmp/train/14 to minio bucket dq-hashed
pushed file train/17 from /tmp/train/17 to minio bucket dq-hashed
processing batch 18
processing batch 21
pushed file train/2 from /tmp/train/2 to minio bucket dq-hashed
processing batch 24
pushed file train/5 from /tmp/train/5 to minio bucket dq-hashed
processing batch 27
pushed file train/8 from /tmp/train/8 to minio bucket dq-hashed
processing batch 30
pushed file train/11 from /tmp/train/11 to minio bucket dq-hashed
processing batch 33
pushed file train/27 from /tmp/train/27 to minio bucket dq-hashed
processing batch 28
pushed file train/24 from /tmp/train/24 to minio bucket dq-hashed
processing batch 25
pushed file train/18 from /tmp/train/18 to minio bucket dq-hashed
processing batch 19
pushed file train/21 from /tmp/train/21 to minio bucket dq-hashed
processing batch 22
pushed file train/30 from /tmp/train/30 to minio bucket dq-hashed
processing batch 31
pushed file train/25 from /tmp/train/25 to minio bucket dq-hashed
processing batch 26
pushed file train/33 from /tmp/train/33 to minio bucket dq-hashed
processing batch 34
pushed file train/28 from /tmp/train/28 to minio bucket dq-hashed
processing batch 29
pushed file train/22 from /tmp/train/22 to minio bucket dq-hashed
processing batch 23
pushed file train/19 from /tmp/train/19 to minio bucket dq-hashed
processing batch 20
pushed file train/29 from /tmp/train/29 to minio bucket dq-hashed
processing batch 36
pushed file train/26 from /tmp/train/26 to minio bucket dq-hashed
processing batch 39
pushed file train/31 from /tmp/train/31 to minio bucket dq-hashed
processing batch 32
pushed file train/20 from /tmp/train/20 to minio bucket dq-hashed
processing batch 42
pushed file train/23 from /tmp/train/23 to minio bucket dq-hashed
pushed file train/34 from /tmp/train/34 to minio bucket dq-hashed
processing batch 45
processing batch 35
pushed file train/36 from /tmp/train/36 to minio bucket dq-hashed
processing batch 37
pushed file train/39 from /tmp/train/39 to minio bucket dq-hashed
processing batch 40
pushed file train/35 from /tmp/train/35 to minio bucket dq-hashed
processing batch 48
pushed file train/32 from /tmp/train/32 to minio bucket dq-hashed
processing batch 51
pushed file train/42 from /tmp/train/42 to minio bucket dq-hashed
processing batch 43
pushed file train/45 from /tmp/train/45 to minio bucket dq-hashed
processing batch 46
pushed file train/37 from /tmp/train/37 to minio bucket dq-hashed
pushed file train/48 from /tmp/train/48 to minio bucket dq-hashed
processing batch 49
processing batch 38
pushed file train/46 from /tmp/train/46 to minio bucket dq-hashed
processing batch 47
pushed file train/40 from /tmp/train/40 to minio bucket dq-hashed
processing batch 41
pushed file train/51 from /tmp/train/51 to minio bucket dq-hashed
processing batch 52
pushed file train/43 from /tmp/train/43 to minio bucket dq-hashed
processing batch 44
pushed file train/49 from /tmp/train/49 to minio bucket dq-hashed
processing batch 50
pushed file train/52 from /tmp/train/52 to minio bucket dq-hashed
processing batch 53
pushed file train/44 from /tmp/train/44 to minio bucket dq-hashed
processing batch 54
pushed file train/38 from /tmp/train/38 to minio bucket dq-hashed
pushed file train/54 from /tmp/train/54 to minio bucket dq-hashed
pushed file train/47 from /tmp/train/47 to minio bucket dq-hashed
pushed file train/41 from /tmp/train/41 to minio bucket dq-hashed
pushed file train/53 from /tmp/train/53 to minio bucket dq-hashed
pushed file train/50 from /tmp/train/50 to minio bucket dq-hashed

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

Process ForkPoolWorker-1:
Process ForkPoolWorker-6:
Process ForkPoolWorker-4:
Process ForkPoolWorker-5:
Process ForkPoolWorker-2:
Process ForkPoolWorker-3:
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 335, in get
    res = self._reader.recv_bytes()
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/connection.py", line 216, in recv_bytes
    buf = self._recv_bytes(maxlength)
KeyboardInterrupt
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
  File "/opt/conda/lib/python3.6/multiprocessing/connection.py", line 407, in _recv_bytes
    buf = self._recv(4)
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/connection.py", line 379, in _recv
    chunk = read(handle, remaining)
KeyboardInterrupt
KeyboardInterrupt

In [13]:
def get_tokens():
    files = ps.get_all_filenames(bucket=HASH_BUCKET, path='train/')
    
    for file in files:
        ps.get_file(bucket=HASH_BUCKET, filename=file, filepath=tmp_train_path+file)
        with open(tmp_train_path+file, 'r') as handle:
            
            for line in handle:
                yield line
                
pass_through = lambda x:x
tfidf = TfidfVectorizer(analyzer=pass_through)
X_trfmd = tfidf.fit_transform(get_tokens())
try:
    shutil.rmtree(tmp_train_path)
except:
    pass

In [14]:
X_trfmd

<541748x799 sparse matrix of type '<class 'numpy.float64'>'
	with 9620941 stored elements in Compressed Sparse Row format>

In [15]:
# dimension reduction using SVD
start = time.time()
svd = TruncatedSVD(n_components=100, n_iter=7, random_state=42)
X_svd = svd.fit_transform(X_trfmd)
end =  time.time()
print('created SVD transform in time {}'.format(end-start))

created SVD transform in time 20.509034633636475

In [16]:
X_svd.shape

(541748, 100)

In [17]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270874 entries, 316451 to 121958
Data columns (total 4 columns):
qid1         270874 non-null int64
qid2         270874 non-null int64
question1    270873 non-null object
question2    270873 non-null object
dtypes: int64(2), object(2)
memory usage: 10.3+ MB

In [18]:
# split back into two
X1 = X_svd[:len(X_train), :]
X2 = X_svd[len(X_train):, :]

In [19]:
# difference in text size
compute_size_diff = lambda row: abs(len(str(row['question1'])) - len(str(row['question2'])))
X_train['size_diff'] = X_train.apply(compute_size_diff, axis=1)
X_train.head()

,qid1,qid2,question1,question2,size_diff
id,,,,,
316451,441499,441500,What is the tattoo written on DMC's head?,Were tattoos part of the 60's hippie culture?,4
398368,531584,531585,What are monocot plants and what are some exam...,What are some examples of monocot plants? What...,10
218253,324807,324808,Why do we see colors?,What is your review of Weightless (2017 movie)?,26
282919,402950,402951,"Is Reform Judaism becoming more ""orthodox""?",What is Reform Judaism?,20
243365,355786,355787,Is there any culture that has dessert before d...,What are my options for desserts after dinner ...,17

In [20]:
from fuzzywuzzy import fuzz

In [21]:
# ratio
compute_ratio = lambda row: fuzz.ratio(str(row['question1']), str(row['question2']))
X_train['ratio'] = X_train.apply(compute_ratio, axis=1)
X_train.head()

,qid1,qid2,question1,question2,size_diff,ratio
id,,,,,,
316451,441499,441500,What is the tattoo written on DMC's head?,Were tattoos part of the 60's hippie culture?,4,49
398368,531584,531585,What are monocot plants and what are some exam...,What are some examples of monocot plants? What...,10,64
218253,324807,324808,Why do we see colors?,What is your review of Weightless (2017 movie)?,26,35
282919,402950,402951,"Is Reform Judaism becoming more ""orthodox""?",What is Reform Judaism?,20,52
243365,355786,355787,Is there any culture that has dessert before d...,What are my options for desserts after dinner ...,17,45

In [22]:
# partial ratio
compute_partial_ratio = lambda row: fuzz.partial_ratio(str(row['question1']), str(row['question2']))
X_train['partial_ratio'] = X_train.apply(compute_partial_ratio, axis=1)
X_train.head()

,qid1,qid2,question1,question2,size_diff,ratio,partial_ratio
id,,,,,,,
316451,441499,441500,What is the tattoo written on DMC's head?,Were tattoos part of the 60's hippie culture?,4,49,49
398368,531584,531585,What are monocot plants and what are some exam...,What are some examples of monocot plants? What...,10,64,63
218253,324807,324808,Why do we see colors?,What is your review of Weightless (2017 movie)?,26,35,43
282919,402950,402951,"Is Reform Judaism becoming more ""orthodox""?",What is Reform Judaism?,20,52,70
243365,355786,355787,Is there any culture that has dessert before d...,What are my options for desserts after dinner ...,17,45,50

In [23]:
# token_sort_ratio
compute_token_sort_ratio = lambda row: fuzz.token_sort_ratio(str(row['question1']), str(row['question2']))
X_train['token_sort_ratio'] = X_train.apply(compute_token_sort_ratio, axis=1)
X_train.head()

,qid1,qid2,question1,question2,size_diff,ratio,partial_ratio,token_sort_ratio
id,,,,,,,,
316451,441499,441500,What is the tattoo written on DMC's head?,Were tattoos part of the 60's hippie culture?,4,49,49,55
398368,531584,531585,What are monocot plants and what are some exam...,What are some examples of monocot plants? What...,10,64,63,82
218253,324807,324808,Why do we see colors?,What is your review of Weightless (2017 movie)?,26,35,43,41
282919,402950,402951,"Is Reform Judaism becoming more ""orthodox""?",What is Reform Judaism?,20,52,70,55
243365,355786,355787,Is there any culture that has dessert before d...,What are my options for desserts after dinner ...,17,45,50,50

In [24]:
# token_set_ratio
compute_token_set_ratio = lambda row: fuzz.token_set_ratio(str(row['question1']), str(row['question2']))
X_train['token_set_ratio'] = X_train.apply(compute_token_set_ratio, axis=1)
X_train.head()

,qid1,qid2,question1,question2,size_diff,ratio,partial_ratio,token_sort_ratio,token_set_ratio
id,,,,,,,,,
316451,441499,441500,What is the tattoo written on DMC's head?,Were tattoos part of the 60's hippie culture?,4,49,49,55,55
398368,531584,531585,What are monocot plants and what are some exam...,What are some examples of monocot plants? What...,10,64,63,82,93
218253,324807,324808,Why do we see colors?,What is your review of Weightless (2017 movie)?,26,35,43,41,41
282919,402950,402951,"Is Reform Judaism becoming more ""orthodox""?",What is Reform Judaism?,20,52,70,55,87
243365,355786,355787,Is there any culture that has dessert before d...,What are my options for desserts after dinner ...,17,45,50,50,50

In [25]:
X2.shape

(270874, 100)

In [26]:
# build complete feature dataframe
X_train_temp = pd.concat([pd.DataFrame(X1, columns=['q1_'+str(i) for i in range(X1.shape[1])], index=X_train.index), 
                     pd.DataFrame(X2, columns=['q2_'+str(i) for i in range(X2.shape[1])], index=X_train.index)], axis=1)
X_train_temp.head()

,q1_0,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q1_7,q1_8,q1_9,...,q2_90,q2_91,q2_92,q2_93,q2_94,q2_95,q2_96,q2_97,q2_98,q2_99
id,,,,,,,,,,,,,,,,,,,,,
316451,0.834170,-0.146918,-0.016684,0.281899,0.025486,-0.208559,-0.171485,0.155565,-0.122456,-0.022247,...,4.678337e-07,4.849435e-06,-0.000002,0.000004,0.000003,-8.097317e-07,2.646273e-06,4.110308e-07,-0.000002,0.000007
398368,0.859723,-0.021620,-0.143052,0.050104,0.286142,0.052730,0.005876,0.060243,-0.186494,0.165187,...,1.095740e-05,1.903781e-05,-0.000014,-0.000002,-0.000009,7.747259e-06,-6.469354e-06,-2.886128e-06,-0.000009,-0.000002
218253,0.719515,0.305061,-0.359525,-0.039574,-0.139228,0.111680,-0.004213,0.090227,0.100102,0.112338,...,9.369365e-06,1.001712e-05,-0.000014,0.000001,-0.000004,3.025690e-06,-3.158781e-06,-1.167244e-05,-0.000003,-0.000009
282919,0.727909,0.262527,-0.069804,-0.059214,0.002341,-0.194169,0.158961,-0.081014,0.002503,0.062071,...,-1.364421e-06,5.011465e-06,0.000004,-0.000003,-0.000001,-1.439410e-06,-6.572667e-07,1.831954e-06,-0.000003,0.000001
243365,0.881564,-0.253718,-0.218576,-0.035157,-0.020854,-0.044550,-0.003412,-0.090654,0.197271,-0.110386,...,-2.221566e-05,3.615819e-07,0.000002,-0.000003,0.000002,9.655713e-07,5.186554e-07,-1.617630e-05,-0.000003,-0.000006

In [27]:
X_train = pd.concat([X_train_temp, X_train], axis=1)
del X_train_temp
X_train = X_train.drop(columns=['qid1', 'qid2','question1','question2'])
X_train.head()

,q1_0,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q1_7,q1_8,q1_9,...,q2_95,q2_96,q2_97,q2_98,q2_99,size_diff,ratio,partial_ratio,token_sort_ratio,token_set_ratio
id,,,,,,,,,,,,,,,,,,,,,
316451,0.834170,-0.146918,-0.016684,0.281899,0.025486,-0.208559,-0.171485,0.155565,-0.122456,-0.022247,...,-8.097317e-07,2.646273e-06,4.110308e-07,-0.000002,0.000007,4,49,49,55,55
398368,0.859723,-0.021620,-0.143052,0.050104,0.286142,0.052730,0.005876,0.060243,-0.186494,0.165187,...,7.747259e-06,-6.469354e-06,-2.886128e-06,-0.000009,-0.000002,10,64,63,82,93
218253,0.719515,0.305061,-0.359525,-0.039574,-0.139228,0.111680,-0.004213,0.090227,0.100102,0.112338,...,3.025690e-06,-3.158781e-06,-1.167244e-05,-0.000003,-0.000009,26,35,43,41,41
282919,0.727909,0.262527,-0.069804,-0.059214,0.002341,-0.194169,0.158961,-0.081014,0.002503,0.062071,...,-1.439410e-06,-6.572667e-07,1.831954e-06,-0.000003,0.000001,20,52,70,55,87
243365,0.881564,-0.253718,-0.218576,-0.035157,-0.020854,-0.044550,-0.003412,-0.090654,0.197271,-0.110386,...,9.655713e-07,5.186554e-07,-1.617630e-05,-0.000003,-0.000006,17,45,50,50,50

In [28]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270874 entries, 316451 to 121958
Columns: 205 entries, q1_0 to token_set_ratio
dtypes: float64(200), int64(5)
memory usage: 425.7 MB

#### Test set vectorization

In [30]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133416 entries, 8067 to 231389
Data columns (total 4 columns):
qid1         133416 non-null int64
qid2         133416 non-null int64
question1    133416 non-null object
question2    133415 non-null object
dtypes: int64(2), object(2)
memory usage: 5.1+ MB

In [31]:
X_test.head()

,qid1,qid2,question1,question2
id,,,,
8067,15738,15739,How do I play Pokémon GO in Korea?,How do I play Pokémon GO in China?
368101,12736,104117,What are some of the best side dishes for crab...,What are some good side dishes for buffalo chi...
70497,121486,121487,Which is more advisable and better material fo...,What is the best server setup for buddypress?
226567,254474,258192,How do I improve logical programming skills?,How can I improve my logical skills for progra...
73186,48103,3062,How close we are to see 3rd world war?,How close is a World War III?

In [32]:
tmp_test_path = '/tmp/test/'
try:
    shutil.rmtree(tmp_test_path)
except:
    pass
try:    
    os.mkdir(tmp_test_path)
except:
    pass

def tokenize_test(series, batch_id, output_dir):
    print('processing batch {}'.format(batch_id))
    # save transformed batch
    out_file = ('%d' % batch_id) 
    out_path = output_dir+'/'+out_file
    with open(out_path, 'w') as handle:
        for q in series:       
            for token in simple_preprocess(q):
                handle.write(token)
            handle.write('\n')
    ps.copy_file(dest_bucket=HASH_BUCKET, file='test/'+out_file, source=out_path)
    os.remove(out_path)

In [33]:
# empty HASH_BUCKET
ps.remove_all_files(bucket=HASH_BUCKET, path='test/')
series = pd.Series(pd.concat([X_test['question1'], X_test['question2']]),dtype=str)
series.dropna()
partitions = partition_all(10000, series.tolist())
#trying multiprocessing
#processes = []
pool = Pool(processes=6)
args = []
for i, batch in enumerate(partitions):
    args.append((
                   batch,
                   i, 
                   tmp_test_path))
pool.starmap(tokenize_test, args)

all files in bucket dq-hashed at path test/ are ['test/0', 'test/1', 'test/10', 'test/100', 'test/101', 'test/102', 'test/103', 'test/104', 'test/105', 'test/106', 'test/107', 'test/108', 'test/109', 'test/11', 'test/110', 'test/111', 'test/112', 'test/113', 'test/114', 'test/115', 'test/116', 'test/117', 'test/118', 'test/119', 'test/12', 'test/120', 'test/121', 'test/122', 'test/123', 'test/124', 'test/125', 'test/126', 'test/127', 'test/128', 'test/129', 'test/13', 'test/130', 'test/131', 'test/132', 'test/133', 'test/134', 'test/135', 'test/136', 'test/137', 'test/138', 'test/139', 'test/14', 'test/140', 'test/141', 'test/142', 'test/143', 'test/144', 'test/145', 'test/146', 'test/147', 'test/148', 'test/149', 'test/15', 'test/150', 'test/151', 'test/152', 'test/153', 'test/154', 'test/155', 'test/156', 'test/157', 'test/158', 'test/159', 'test/16', 'test/160', 'test/161', 'test/162', 'test/163', 'test/164', 'test/165', 'test/166', 'test/167', 'test/168', 'test/169', 'test/17', 'test/170', 'test/171', 'test/172', 'test/173', 'test/174', 'test/175', 'test/176', 'test/177', 'test/178', 'test/179', 'test/18', 'test/180', 'test/181', 'test/182', 'test/183', 'test/184', 'test/185', 'test/186', 'test/187', 'test/188', 'test/189', 'test/19', 'test/190', 'test/191', 'test/192', 'test/193', 'test/194', 'test/195', 'test/196', 'test/197', 'test/198', 'test/199', 'test/2', 'test/20', 'test/200', 'test/201', 'test/202', 'test/203', 'test/204', 'test/205', 'test/206', 'test/207', 'test/208', 'test/209', 'test/21', 'test/210', 'test/211', 'test/212', 'test/213', 'test/214', 'test/215', 'test/216', 'test/217', 'test/218', 'test/219', 'test/22', 'test/220', 'test/221', 'test/222', 'test/223', 'test/224', 'test/225', 'test/226', 'test/227', 'test/228', 'test/229', 'test/23', 'test/230', 'test/231', 'test/232', 'test/233', 'test/234', 'test/235', 'test/236', 'test/237', 'test/238', 'test/239', 'test/24', 'test/240', 'test/241', 'test/242', 'test/243', 'test/244', 'test/245', 'test/246', 'test/247', 'test/248', 'test/249', 'test/25', 'test/250', 'test/251', 'test/252', 'test/253', 'test/254', 'test/255', 'test/256', 'test/257', 'test/258', 'test/259', 'test/26', 'test/260', 'test/261', 'test/262', 'test/263', 'test/264', 'test/265', 'test/266', 'test/267', 'test/268', 'test/269', 'test/27', 'test/270', 'test/271', 'test/272', 'test/273', 'test/274', 'test/275', 'test/276', 'test/277', 'test/278', 'test/279', 'test/28', 'test/280', 'test/281', 'test/282', 'test/283', 'test/284', 'test/285', 'test/286', 'test/287', 'test/288', 'test/289', 'test/29', 'test/290', 'test/291', 'test/292', 'test/293', 'test/294', 'test/295', 'test/296', 'test/297', 'test/298', 'test/299', 'test/3', 'test/30', 'test/300', 'test/301', 'test/302', 'test/303', 'test/304', 'test/305', 'test/306', 'test/307', 'test/308', 'test/309', 'test/31', 'test/310', 'test/311', 'test/312', 'test/313', 'test/314', 'test/315', 'test/316', 'test/317', 'test/318', 'test/319', 'test/32', 'test/320', 'test/321', 'test/322', 'test/323', 'test/324', 'test/325', 'test/326', 'test/327', 'test/328', 'test/329', 'test/33', 'test/330', 'test/331', 'test/332', 'test/333', 'test/334', 'test/335', 'test/336', 'test/337', 'test/338', 'test/339', 'test/34', 'test/340', 'test/341', 'test/342', 'test/343', 'test/344', 'test/345', 'test/346', 'test/347', 'test/348', 'test/349', 'test/35', 'test/350', 'test/351', 'test/352', 'test/353', 'test/354', 'test/355', 'test/356', 'test/357', 'test/358', 'test/359', 'test/36', 'test/360', 'test/361', 'test/362', 'test/363', 'test/364', 'test/365', 'test/366', 'test/367', 'test/368', 'test/369', 'test/37', 'test/370', 'test/371', 'test/372', 'test/373', 'test/374', 'test/375', 'test/376', 'test/377', 'test/378', 'test/379', 'test/38', 'test/380', 'test/381', 'test/382', 'test/383', 'test/384', 'test/385', 'test/386', 'test/387', 'test/388', 'test/389', 'test/39', 'test/390', 'test/391', 'test/392', 'test/393', 'test/394', 'test/395', 'test/396', 'test/397', 'test/398', 'test/399', 'test/4', 'test/40', 'test/400', 'test/401', 'test/402', 'test/403', 'test/404', 'test/405', 'test/406', 'test/407', 'test/408', 'test/409', 'test/41', 'test/410', 'test/411', 'test/412', 'test/413', 'test/414', 'test/415', 'test/416', 'test/417', 'test/418', 'test/419', 'test/42', 'test/420', 'test/421', 'test/422', 'test/423', 'test/424', 'test/425', 'test/426', 'test/427', 'test/428', 'test/429', 'test/43', 'test/430', 'test/431', 'test/432', 'test/433', 'test/434', 'test/435', 'test/436', 'test/437', 'test/438', 'test/439', 'test/44', 'test/440', 'test/441', 'test/442', 'test/443', 'test/444', 'test/445', 'test/446', 'test/447', 'test/448', 'test/449', 'test/45', 'test/450', 'test/451', 'test/452', 'test/453', 'test/454', 'test/455', 'test/456', 'test/457', 'test/458', 'test/459', 'test/46', 'test/460', 'test/461', 'test/462', 'test/463', 'test/464', 'test/465', 'test/466', 'test/467', 'test/468', 'test/469', 'test/47', 'test/470', 'test/471', 'test/472', 'test/473', 'test/474', 'test/475', 'test/476', 'test/477', 'test/478', 'test/479', 'test/48', 'test/480', 'test/481', 'test/482', 'test/483', 'test/484', 'test/485', 'test/486', 'test/487', 'test/488', 'test/489', 'test/49', 'test/490', 'test/491', 'test/492', 'test/493', 'test/494', 'test/495', 'test/496', 'test/497', 'test/498', 'test/499', 'test/5', 'test/50', 'test/500', 'test/501', 'test/502', 'test/503', 'test/504', 'test/505', 'test/506', 'test/507', 'test/508', 'test/509', 'test/51', 'test/510', 'test/511', 'test/512', 'test/513', 'test/514', 'test/515', 'test/516', 'test/517', 'test/518', 'test/519', 'test/52', 'test/520', 'test/521', 'test/522', 'test/523', 'test/524', 'test/525', 'test/526', 'test/527', 'test/528', 'test/529', 'test/53', 'test/530', 'test/531', 'test/532', 'test/533', 'test/534', 'test/535', 'test/536', 'test/537', 'test/538', 'test/539', 'test/54', 'test/540', 'test/541', 'test/542', 'test/543', 'test/544', 'test/545', 'test/546', 'test/547', 'test/548', 'test/549', 'test/55', 'test/550', 'test/551', 'test/552', 'test/553', 'test/554', 'test/555', 'test/556', 'test/557', 'test/558', 'test/559', 'test/56', 'test/560', 'test/561', 'test/562', 'test/563', 'test/564', 'test/565', 'test/566', 'test/567', 'test/568', 'test/569', 'test/57', 'test/570', 'test/571', 'test/572', 'test/573', 'test/574', 'test/575', 'test/576', 'test/577', 'test/578', 'test/579', 'test/58', 'test/580', 'test/581', 'test/582', 'test/583', 'test/584', 'test/585', 'test/586', 'test/587', 'test/588', 'test/589', 'test/59', 'test/590', 'test/591', 'test/592', 'test/593', 'test/594', 'test/595', 'test/596', 'test/597', 'test/598', 'test/599', 'test/6', 'test/60', 'test/600', 'test/601', 'test/602', 'test/603', 'test/604', 'test/605', 'test/606', 'test/607', 'test/608', 'test/609', 'test/61', 'test/610', 'test/611', 'test/612', 'test/613', 'test/614', 'test/615', 'test/616', 'test/617', 'test/618', 'test/619', 'test/62', 'test/620', 'test/621', 'test/622', 'test/623', 'test/624', 'test/625', 'test/626', 'test/627', 'test/628', 'test/629', 'test/63', 'test/630', 'test/631', 'test/632', 'test/633', 'test/634', 'test/635', 'test/636', 'test/637', 'test/638', 'test/639', 'test/64', 'test/640', 'test/641', 'test/642', 'test/643', 'test/644', 'test/645', 'test/646', 'test/647', 'test/648', 'test/649', 'test/65', 'test/650', 'test/651', 'test/652', 'test/653', 'test/654', 'test/655', 'test/656', 'test/657', 'test/658', 'test/659', 'test/66', 'test/660', 'test/661', 'test/662', 'test/663', 'test/664', 'test/665', 'test/666', 'test/667', 'test/668', 'test/669', 'test/67', 'test/670', 'test/671', 'test/672', 'test/673', 'test/674', 'test/675', 'test/676', 'test/677', 'test/678', 'test/679', 'test/68', 'test/680', 'test/681', 'test/682', 'test/683', 'test/684', 'test/685', 'test/686', 'test/687', 'test/688', 'test/689', 'test/69', 'test/690', 'test/691', 'test/692', 'test/693', 'test/694', 'test/695', 'test/696', 'test/697', 'test/698', 'test/699', 'test/7', 'test/70', 'test/700', 'test/701', 'test/702', 'test/703', 'test/704', 'test/705', 'test/706', 'test/707', 'test/708', 'test/709', 'test/71', 'test/710', 'test/711', 'test/712', 'test/72', 'test/73', 'test/74', 'test/75', 'test/76', 'test/77', 'test/78', 'test/79', 'test/8', 'test/80', 'test/81', 'test/82', 'test/83', 'test/84', 'test/85', 'test/86', 'test/87', 'test/88', 'test/89', 'test/9', 'test/90', 'test/91', 'test/92', 'test/93', 'test/94', 'test/95', 'test/96', 'test/97', 'test/98', 'test/99']

processing batch 0
processing batch 2
processing batch 4
processing batch 6
processing batch 8
processing batch 10
pushed file test/2 from /tmp/test//2 to minio bucket dq-hashed
processing batch 3
pushed file test/6 from /tmp/test//6 to minio bucket dq-hashed
processing batch 7
pushed file test/0 from /tmp/test//0 to minio bucket dq-hashed
processing batch 1
pushed file test/4 from /tmp/test//4 to minio bucket dq-hashed
processing batch 5
pushed file test/10 from /tmp/test//10 to minio bucket dq-hashed
processing batch 11
pushed file test/8 from /tmp/test//8 to minio bucket dq-hashed
processing batch 9
pushed file test/1 from /tmp/test//1 to minio bucket dq-hashed
processing batch 12
pushed file test/3 from /tmp/test//3 to minio bucket dq-hashed
processing batch 14
pushed file test/11 from /tmp/test//11 to minio bucket dq-hashed
processing batch 16
pushed file test/7 from /tmp/test//7 to minio bucket dq-hashed
processing batch 18
pushed file test/5 from /tmp/test//5 to minio bucket dq-hashed
processing batch 20
pushed file test/9 from /tmp/test//9 to minio bucket dq-hashed
processing batch 22
pushed file test/12 from /tmp/test//12 to minio bucket dq-hashed
processing batch 13
pushed file test/14 from /tmp/test//14 to minio bucket dq-hashed
processing batch 15
pushed file test/18 from /tmp/test//18 to minio bucket dq-hashed
processing batch 19
pushed file test/16 from /tmp/test//16 to minio bucket dq-hashed
processing batch 17
pushed file test/22 from /tmp/test//22 to minio bucket dq-hashed
processing batch 23
pushed file test/20 from /tmp/test//20 to minio bucket dq-hashed
processing batch 21
pushed file test/13 from /tmp/test//13 to minio bucket dq-hashed
pushed file test/17 from /tmp/test//17 to minio bucket dq-hashed
processing batch 24
processing batch 26
pushed file test/15 from /tmp/test//15 to minio bucket dq-hashed
pushed file test/19 from /tmp/test//19 to minio bucket dq-hashed
pushed file test/23 from /tmp/test//23 to minio bucket dq-hashed
pushed file test/21 from /tmp/test//21 to minio bucket dq-hashed
pushed file test/26 from /tmp/test//26 to minio bucket dq-hashed
pushed file test/24 from /tmp/test//24 to minio bucket dq-hashed
processing batch 25
pushed file test/25 from /tmp/test//25 to minio bucket dq-hashed

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

Process ForkPoolWorker-7:
Process ForkPoolWorker-8:
Process ForkPoolWorker-11:
Process ForkPoolWorker-10:
Process ForkPoolWorker-9:
Process ForkPoolWorker-12:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
Traceback (most recent call last):
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
KeyboardInterrupt
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 335, in get
    res = self._reader.recv_bytes()
KeyboardInterrupt
  File "/opt/conda/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
KeyboardInterrupt
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/connection.py", line 216, in recv_bytes
    buf = self._recv_bytes(maxlength)
  File "/opt/conda/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/opt/conda/lib/python3.6/multiprocessing/connection.py", line 407, in _recv_bytes
    buf = self._recv(4)
KeyboardInterrupt
KeyboardInterrupt
  File "/opt/conda/lib/python3.6/multiprocessing/connection.py", line 379, in _recv
    chunk = read(handle, remaining)
KeyboardInterrupt

In [34]:
def get_test_tokens():
    files = ps.get_all_filenames(bucket=HASH_BUCKET, path='test/')
    #files = os.listdir(tmp_train_path)
    for file in files:
        ps.get_file(bucket=HASH_BUCKET, filename=file, filepath=tmp_test_path+file)
        with open(tmp_test_path+file, 'r') as handle:
            #data.append(pickle.load(handle))
            for line in handle:
                yield line
                
X_test_trfmd = tfidf.transform(get_test_tokens())
try:
    shutil.rmtree(tmp_test_path)
except:
    pass

In [35]:
X_test_trfmd

<266832x799 sparse matrix of type '<class 'numpy.float64'>'
	with 4738262 stored elements in Compressed Sparse Row format>

In [36]:
# dimension reduction using SVD
start = time.time()
X_test_svd = svd.transform(X_test_trfmd)
end =  time.time()
print('created SVD transform in time {}'.format(end-start))

created SVD transform in time 0.28557920455932617

In [37]:
# split back into two
X1_test = X_test_svd[:len(X_test), :]
X2_test = X_test_svd[len(X_test):, :]

In [38]:
# difference in text size
X_test['size_diff'] = X_test.apply(compute_size_diff, axis=1)
X_test.head()

,qid1,qid2,question1,question2,size_diff
id,,,,,
8067,15738,15739,How do I play Pokémon GO in Korea?,How do I play Pokémon GO in China?,0
368101,12736,104117,What are some of the best side dishes for crab...,What are some good side dishes for buffalo chi...,2
70497,121486,121487,Which is more advisable and better material fo...,What is the best server setup for buddypress?,51
226567,254474,258192,How do I improve logical programming skills?,How can I improve my logical skills for progra...,8
73186,48103,3062,How close we are to see 3rd world war?,How close is a World War III?,9

In [39]:
# ratio
X_test['ratio'] = X_test.apply(compute_ratio, axis=1)
X_test.head()

,qid1,qid2,question1,question2,size_diff,ratio
id,,,,,,
8067,15738,15739,How do I play Pokémon GO in Korea?,How do I play Pokémon GO in China?,0,88
368101,12736,104117,What are some of the best side dishes for crab...,What are some good side dishes for buffalo chi...,2,73
70497,121486,121487,Which is more advisable and better material fo...,What is the best server setup for buddypress?,51,40
226567,254474,258192,How do I improve logical programming skills?,How can I improve my logical skills for progra...,8,73
73186,48103,3062,How close we are to see 3rd world war?,How close is a World War III?,9,63

In [40]:
# partial ratio
X_test['partial_ratio'] = X_test.apply(compute_partial_ratio, axis=1)
X_test.head()

,qid1,qid2,question1,question2,size_diff,ratio,partial_ratio
id,,,,,,,
8067,15738,15739,How do I play Pokémon GO in Korea?,How do I play Pokémon GO in China?,0,88,88
368101,12736,104117,What are some of the best side dishes for crab...,What are some good side dishes for buffalo chi...,2,73,73
70497,121486,121487,Which is more advisable and better material fo...,What is the best server setup for buddypress?,51,40,44
226567,254474,258192,How do I improve logical programming skills?,How can I improve my logical skills for progra...,8,73,68
73186,48103,3062,How close we are to see 3rd world war?,How close is a World War III?,9,63,59

In [41]:
# token_sort_ratio
X_test['token_sort_ratio'] = X_test.apply(compute_token_sort_ratio, axis=1)
X_test.head()

,qid1,qid2,question1,question2,size_diff,ratio,partial_ratio,token_sort_ratio
id,,,,,,,,
8067,15738,15739,How do I play Pokémon GO in Korea?,How do I play Pokémon GO in China?,0,88,88,81
368101,12736,104117,What are some of the best side dishes for crab...,What are some good side dishes for buffalo chi...,2,73,73,73
70497,121486,121487,Which is more advisable and better material fo...,What is the best server setup for buddypress?,51,40,44,39
226567,254474,258192,How do I improve logical programming skills?,How can I improve my logical skills for progra...,8,73,68,89
73186,48103,3062,How close we are to see 3rd world war?,How close is a World War III?,9,63,59,71

In [42]:
# token_set_ratio
X_test['token_set_ratio'] = X_test.apply(compute_token_set_ratio, axis=1)
X_test.head()

,qid1,qid2,question1,question2,size_diff,ratio,partial_ratio,token_sort_ratio,token_set_ratio
id,,,,,,,,,
8067,15738,15739,How do I play Pokémon GO in Korea?,How do I play Pokémon GO in China?,0,88,88,81,90
368101,12736,104117,What are some of the best side dishes for crab...,What are some good side dishes for buffalo chi...,2,73,73,73,73
70497,121486,121487,Which is more advisable and better material fo...,What is the best server setup for buddypress?,51,40,44,39,41
226567,254474,258192,How do I improve logical programming skills?,How can I improve my logical skills for progra...,8,73,68,89,96
73186,48103,3062,How close we are to see 3rd world war?,How close is a World War III?,9,63,59,71,81

In [43]:
# build complete feature dataframe
X_test_temp = pd.concat([pd.DataFrame(X1_test, columns=['q1_'+str(i) for i in range(X1_test.shape[1])], index=X_test.index), 
                    pd.DataFrame(X2_test, columns=['q2_'+str(i) for i in range(X2_test.shape[1])], index=X_test.index)], axis=1)
X_test_temp.head()

,q1_0,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q1_7,q1_8,q1_9,...,q2_90,q2_91,q2_92,q2_93,q2_94,q2_95,q2_96,q2_97,q2_98,q2_99
id,,,,,,,,,,,,,,,,,,,,,
8067,0.519165,0.431756,0.064319,-0.016481,0.087038,0.002285,-0.008425,0.015336,-0.261355,0.121395,...,0.000023,0.000015,-1.821504e-05,3.216443e-06,-0.000009,-0.000015,-4.836909e-06,-0.000008,-1.309566e-05,-1.962198e-05
368101,0.851070,-0.171522,-0.255921,0.071621,0.022943,-0.004720,0.070010,0.069973,0.104416,0.061926,...,0.000013,0.000008,-1.039981e-05,-9.153098e-07,-0.000015,-0.000007,-1.411400e-06,-0.000008,1.632647e-06,-8.720784e-06
70497,0.912409,-0.152898,-0.020779,0.057625,-0.037292,0.108542,0.037998,0.028389,0.061418,-0.133019,...,-0.000012,0.000002,-3.847522e-06,3.611121e-07,-0.000005,-0.000009,-1.192275e-06,0.000001,7.260083e-07,-2.985969e-08
226567,0.718929,0.313180,0.216385,-0.093333,-0.036749,0.212129,0.161706,-0.131936,-0.290491,0.083805,...,-0.000011,0.000008,-3.781779e-07,5.320937e-06,-0.000002,-0.000005,3.508140e-06,0.000009,-6.072785e-06,-2.818590e-06
73186,0.765920,0.142573,-0.352040,-0.061370,0.031293,0.111417,-0.016486,-0.040281,-0.038560,-0.087537,...,-0.000002,0.000010,-8.842913e-06,-4.107623e-06,-0.000005,-0.000011,4.488547e-07,0.000002,-2.317846e-06,5.121606e-07

In [44]:
X_test = pd.concat([X_test_temp, X_test], axis=1)
del X_test_temp
X_test = X_test.drop(columns=['question1','question2', 'qid1', 'qid2'])
X_test.head()

,q1_0,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q1_7,q1_8,q1_9,...,q2_95,q2_96,q2_97,q2_98,q2_99,size_diff,ratio,partial_ratio,token_sort_ratio,token_set_ratio
id,,,,,,,,,,,,,,,,,,,,,
8067,0.519165,0.431756,0.064319,-0.016481,0.087038,0.002285,-0.008425,0.015336,-0.261355,0.121395,...,-0.000015,-4.836909e-06,-0.000008,-1.309566e-05,-1.962198e-05,0,88,88,81,90
368101,0.851070,-0.171522,-0.255921,0.071621,0.022943,-0.004720,0.070010,0.069973,0.104416,0.061926,...,-0.000007,-1.411400e-06,-0.000008,1.632647e-06,-8.720784e-06,2,73,73,73,73
70497,0.912409,-0.152898,-0.020779,0.057625,-0.037292,0.108542,0.037998,0.028389,0.061418,-0.133019,...,-0.000009,-1.192275e-06,0.000001,7.260083e-07,-2.985969e-08,51,40,44,39,41
226567,0.718929,0.313180,0.216385,-0.093333,-0.036749,0.212129,0.161706,-0.131936,-0.290491,0.083805,...,-0.000005,3.508140e-06,0.000009,-6.072785e-06,-2.818590e-06,8,73,68,89,96
73186,0.765920,0.142573,-0.352040,-0.061370,0.031293,0.111417,-0.016486,-0.040281,-0.038560,-0.087537,...,-0.000011,4.488547e-07,0.000002,-2.317846e-06,5.121606e-07,9,63,59,71,81

### Modeling

#### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
logr_model = LogisticRegression(random_state=42)
param_grid = {'C': np.logspace(-2, 7, 10),
             #'penalty': ['l1','l2'],
             'tol': np.logspace(-5, -1, 5),
             #'solver': ['lbfgs']
             #'max_iter': np.linspace(10, 1000, 10)
             }
logr_cv = RandomizedSearchCV(logr_model, param_distributions=param_grid, cv=5, n_jobs=-1)
logr_cv.fit(X_train, y_train)

In [ ]:
logr_cv.best_params_

In [ ]:
logr_model = LogisticRegression(#solver=logr_cv.best_params_['solver'], 
                                random_state=42, 
                                C=logr_cv.best_params_['C'], 
                                tol=logr_cv.best_params_['tol'], 
                                #max_iter=logr_cv.best_params_['max_iter'], 
                                n_jobs=-1)
logr_model.fit(X_train, y_train)

In [ ]:
logr_pred = logr_model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
logr_acc_score = accuracy_score(y_test, logr_pred)
logr_prec_score = precision_score(y_test, logr_pred)
logr_rec_score = recall_score(y_test, logr_pred)
print('Logistic Regression')
print('accuracy score : {}'.format(logr_acc_score))
print('precision score : {}'.format(logr_prec_score))
print('recall score : {}'.format(logr_rec_score))